.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #FFFFFF;
  text-align: center;
  box-sizing: border-box;
}

.home-main h1, h2 {
  margin: 0.5rem;
}

.home-main h2 {
  margin-bottom: 1rem;
}

.home__goto-budget,
.home__create-budget {
  margin-top: 2rem;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  border: 0;
  border-radius: .5rem;
  cursor: pointer;
  background-color: #333333;
  color: #FFFFFF;
}

.home__goto-budget {
  background-color: #FFFFFF;
  color: #333333;
  border: 1px solid #333333;
}

.home-main__budget-list {
  display: flex;
  flex-direction: column;
}
