.create-budget {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    gap: 1rem;
}

.create-budget--light {
  background-color: #FFFFFF;
  color: #333333;
  border-color: #333333;
}

.create-budget--dark {
  background-color: #333333;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.create-budget__input-group {
  width: 80%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1.5rem;
}

.create-budget__input-group input {
  font-size: 1.5rem;
  border: 0;
  border-bottom: 1px solid #000;
  border-color: inherit;
  background-color: inherit;
  color: inherit;
}

.create-budget__input-group input:focus {
  outline: 0;
}

.create-budget__input-options {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.create-budget__input-options button {
  display: inline-block;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.create-budget--light
.create-budget__input-options button {
  background-color: #CCCCCC;
  color: #FFFFFF;
}

.create-budget--dark
.create-budget__input-options button {
  background-color: #777777;
  color: #333333;
}

.create-budget--light .create-budget__input-options
.create-budget__input-options--active {
  background-color: #333333;
  color: #FFFFFF;
}

.create-budget--dark .create-budget__input-options
.create-budget__input-options--active {
  background-color: #FFFFFF;
  color: #333333;
}

.create-budget__finish-button {
  margin-top: 2rem;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.create-budget--light .create-budget__finish-button {
  background-color: #333333;
  color: #FFFFFF;
}

.create-budget--dark .create-budget__finish-button {
  background-color: #FFFFFF;
  color: #333333;
}

.create-budget__error {
  color: #FF0000;
  font-size: 1.5rem;
}