.current-budget-main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  padding: 20px;
}

.current-budget-main--dark {
  background-color: #333333;
  color: #fff;
}

.current-budget__title {
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 2rem;
  cursor: pointer;
}

.current-budget__current-total {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 4rem;
  margin-bottom: 20px;
  cursor: pointer;
}
