.budget-input-modal {
  z-index: 10;
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  padding: 2rem;
  background-color: #FFFFFF;
  color: #333333
}

.budget-input-modal--dark {
  background-color: #333333;
  color: #fff;
}

.budget-input-modal__display {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
  font-size: 6rem;
  width: 30rem;
  margin-bottom: 2rem;
}

.budget-input-modal__note {
  position: absolute;
  display: flex;
  width: 30rem;
  justify-content: flex-end;
  align-items: center;
  top: 2rem;
  button {
    background: transparent;
    color: inherit;
    border-color: inherit;
    border: 1px solid;
    border-radius: .5rem;
    padding: .5rem 1rem;
  }
}

.budget-input-modal__note__input,
.budget-input-modal__note__input:focus {
  width: 10rem;
  border: 0;
  color: inherit;
  background: transparent;
  outline: none;
  font-size: 1.5rem;
  text-align: right;
}

@keyframes slide {
  0% { margin-top: 100%; }
  100% { margin-top: 0%; }
}

.budget-input-modal__display__digit {
  height: 8rem;
  overflow: hidden;
}

.budget-input-modal__display__digit__item {
  animation-name: slide;
  animation-duration: .3s;
}

.budget-input-modal__inputs {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 36rem;
  height: 36rem;
}

.budget-input-modal__inputs__button {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 7rem;
  cursor: pointer;
}

.budget-input-modal__inputs__button--double {
  font-size: 3rem;
}

.budget-input-modal__submit {
  display: flex;
  height: 5rem;
  margin-bottom: 5rem;
  margin-right: .5rem;
  width: 30rem;
  justify-content: space-between;
}

.budget-input-modal__submit button {
  background-color: inherit;
  border: 0;
  border-radius: .5rem;
  font-size: 2rem;
  height: 4rem;
  width: 30%;
  text-transform: uppercase;
  background: lightgreen;
  color: inherit;
}

.budget-input-modal__submit
button:last-of-type {
  background: red;
  width: 65%;
}
